
# Laravel specific
/vendor/
node_modules/
public/storage
storage/*.key
.phpunit.result.cache

# Laravel logs
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*


# IDE & system files
/.idea
/.vscode
.DS_Store
Thumbs.db
