# Laravel
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Windows
AppData/
Contacts/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT*
OneDrive/
Saved Games/
Searches/
Videos/
WPS Cloud Files/
ntuser.dat.LOG*
ntuser.ini
.bun/
.codex_cursor
.cursor/
.cursor_fixed
.cursor_info
.gitconfig
.lesshst

# Temporary files
temp/
tmp/
*.tmp
*.temp